@import '../../mixin';

.container{
    flex-direction: column;
    gap: 2rem;
    @extend .flex-center;
}


.btn {
    @extend .flex-center;
    width: 350px;
    height: 100px;
    
    & .text {
        -webkit-text-stroke: 3px $border-gold;
        @extend .txt;
        font-size: 30px;
    }
}
.settingBtn{
    position: absolute;
    bottom: 15px;
    right : 15px;
}